/* p {
      font-family: wingdings;
    } */

body {
  width: 450px;
  background-clip: content-box;
  background-color: lightblue;
  margin: 0 auto;
  font-family: arial;
}

li {
  font-size: 24px;
}

img {
  width: 50%;
  
  padding-right: 20px;
}

.image-1 {
  float: left;
}

.image-2 {
  clear: both;
  float: right;
}

h1 {
  width: 10%;
}

h1 {
  /* padding: 50px; */
  /* padding: TRBL
    */
  width: 50%;
  padding: 10px 20px 30px 40px;
  border: 5px dotted plum;
  text-align: center;
  box-sizing: border-box;
}

#site-navigation {
  height: 60px;
}

#site-navigation li {
  display: inline-block;
}

body h1 {
  background-color: pink;
}

/* body #site-navigation>ul>.nav-links>a {
  color: papayawhip;
}

#site-navigation>ul * {
  font-weight: bold;
}

body #site-navigation .nav-links a:hover {
  color: rebeccapurple;
} */

.nav-links {
  color: rebeccapurple; 
  background-color: transparent;
}

/* .nav-links {
  color: greenyellow; 
} */

.highlighted {
  background-color: black;
  color: white;
}

.page-header {
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  right: 0;
}

main {
  margin-top: 200px;
}

/* [0, 1, 1]
[0, 1, 0]

[id, class, tag-name] */

